@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    color: #16161d;
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    padding-right: 10.5%;
}

span.author-address {
    white-space: pre-line;
}

h1.cover {
    color: #16161d;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    position: absolute;
    top: 3%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px;
    padding: 10px;
    text-align: center;
}