
<table BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%" HEIGHT="92" BACKGROUND="graphics/redlotus.jpg" NOSAVE >
    <tr>
    <td></td>
    </tr>
    </table>
    
    <center>
    <p>-- <a href="index.html#index">main book index page</a>
    --
    <a href="sectionmap.html">detailed book section-map</a> -- <a href="sources/index.html">book
    sources</a> --</h3>
    -- <a href="http://www.columbia.edu/itc/mealac/pritchett/00litlinks/lit_colonial.html#ambedkar">Dr.
    Ambedkar's work</a> -- <a href="http://www.columbia.edu/~fp7#fwp">fwp's
    main page</a> --</h3></center>
    